.select {
  border: none;
  outline: none;
  padding: 1rem;
  border-radius: 5px;
  background-color: var(--light-background);
  color: var(--text);
}

.option {
  font-size: 1.2rem;
}

@media (max-width: 450px) {
  .select {
    width: 100%;
  }

  .option {
    font-size: 0.75rem;
  }
}
