.navbar {
  padding: 1rem 5rem;
  display: flex;
  justify-content: space-between;
  background-color: var(--light-background);
  color: var(--text);
  box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
}

.themes {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  user-select: none;
}
