:root {
  /* Colors */

  --background: hsl(0, 0%, 100%);
  --light-background: hsl(0, 0%, 98%);
  --text: hsl(200, 15%, 8%);

  /* Font Weights */
  --medium: 300;
  --bold: 600;
  --bolder: 800;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0px;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

input,
button,
select,
textarea {
  font: inherit;
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body.dark {
  --background: hsl(207, 26%, 17%);
  --light-background: hsl(209, 23%, 22%);
  --text: hsl(0, 0%, 100%);
}

::placeholder {
  color: var(--text);
  font-size: 0.875rem;
}

.container {
  /* padding: 0 5rem; */
}

.inputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--light-background);
  padding: 1rem;
  width: 35%;
  border-radius: 5px;
}

.search-icon {
  font-size: 1.2rem;
  color: var(--text);
}

.input {
  background-color: var(--light-background);
  color: var(--text);
  width: 100%;
}
